body {
	margin: 0;
	padding: 0;
	background: #262626;
	font-family: sans-serif;
}
.containerImg {
	min-width: 1380px;
	margin: 70px auto 0;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.containerImg .box {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 10px;
	box-sizing:border-box;
	display: inline-block;
}
.containerImg .box .imgBox {
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 300px;
}
.containerImg .box .imgBox img {
	width: 100%;
	height: 100%;
	transition: transform 2s;
}
.containerImg .box:hover .imgBox img {
	transform: scale(1.2);
}
.containerImg .box .details {
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
	bottom: 10px;
	background: rgba(0,0,0,0.8);
	transform: scaleY(0);
	transition: transform 1s;
}
.containerImg .box:hover .details {
	transform: scaleY(1);
}
.containerImg .box .details .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.containerImg .box .details .content h2 {
	margin: 0;
	padding: 0;
	font-size:22px;
	color: #ff0;
	text-align: center;
}
.containerImg .box .details .content p {
	margin: 10px 0 0;
	font-size:12px;
	padding: 0;
	text-align: center;
}